<head>
    <meta charset="UTF-8">
    <link href="../styles/main.css" rel="stylesheet">
    <title>Login | Camera-Tracking</title>
</head>
<body class='main-canvas'>
    <form action="MainCamera.html" method="post">
        <h1>Login</h1>
        <input placeholder="Enter your username" type="text" name="username" required><br>
        <input placeholder="Enter your password" type="text" name="password" required><br>
        <button id="loginButton" type="submit" name="submitLogin" value="Login"> Login </button>
    </form>
</body>
