<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    <title>Login | Camera-Tracking</title>
</head>
<body class='login-body main-canvas'>
  <nav class='navigation-bar header-list'></nav>

    <form  class='login-form-position outter-form-design' action="Proxy.html" method="post">
        <h1>Welcome</h1>
        <input class='primary-input-box' placeholder="Enter your username" type="text" name="username" required><br>
        <input class='primary-input-box' placeholder="Enter your password" type="text" name="password" required><br>
        <button class='primary-button' id="loginButton" type="submit" name="submitLogin" value="Login"> Login </button>
    </form>
</body>
